/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
}

/* NAVBAR */
header {
    background: #ffffff;
    padding: 30px 40px;
    border-bottom: 1px solid #000000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-list a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    transition: 0.3s ease;
}

.nav-list a:hover {
    opacity: 0.6;
}

/* SEÇÕES */
section {
    padding: 80px 40px;
    max-width: 1000px;
    margin: 0 auto;
}

/* SOBRE */


#sobremim h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

#sobremim p {
    max-width: 1000px;
    font-size: 1.3rem;
    margin-bottom: 40px;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 6px;
    transition: 0.3s ease;
    
}


.welcome-linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 300px;
    margin-top: 80px;
}

.welcome-linha h1 {
    font-size: 3rem;
}

.sobre-imagem img {
    width: 100%;
    max-width: 300px;
}

.sobre-texto {
    max-width: 700px;
}

.sobre-texto p {
    font-size: 1.3rem;
    padding: 40px;
    border: 1px solid #000;
    border-radius: 6px;
   
}



.sobre-imagem img {
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
}

/* Efeito leve ao passar o mouse */
.sobre-imagem img:hover {
    transform: scale(1.03);
}

/* SKILLS */
#skills h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

#skills article {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 6px;
    transition: 0.3s ease;
}

#skills article:hover {
    transform: translateY(-4px);
}

#skills h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

#skills ul {
    list-style: none;
}

#skills li {
    margin-bottom: 8px;
    font-size: 1rem;
}

/* RESPONSIVO */
@media (max-width: 780px) {
    .nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav-list {
        flex-direction: column;
        gap: 15px;
    }

    section {
        padding: 60px 20px;
    }

    #sobremim h1 {
        font-size: 2rem;
    }
}

/* CONTATO */


#contato h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

#contato article {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 6px;
    transition: 0.3s ease;
}

#contato p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#contato ul {
    list-style: none;
    padding: 0;
}

#contato li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

#contato a {
    text-decoration: none;
    color: inherit;
}

#contato a:hover {
    opacity: 0.6;
}

#contato i {
    font-size: 1rem;
    padding: 5px;
}
